<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqkc.dao.INavigationDao">
		
		<!-- 添加导航 -->
		<insert id="addNavigation" parameterType="Navigation"  >
			insert into navigation(name,title,isdel,power,url,pid)values(#{name},#{title},#{isdel},#{power},#{url},#{pid});
		</insert>
		<!-- 删除导航 -->
		<update id="deleteNavigation" parameterType="Navigation" >
			update navigation set isdel=0 where id=#{id}
		</update>
		<!-- 批量删除导航 -->
		<update id="deleteMultiNavigation" parameterType="list" >
			update navigation set isdel=0 where id in
			<foreach item="id"  open="(" separator="," close=")" collection="list">#{id}</foreach>			
		</update>
		<!-- 更新导航 -->
		<update id="updateNavigation" parameterType="Navigation" >
			update navigation 
			<trim prefix="set" suffixOverrides=",">
				  <if test="name!=null">name=#{name},</if>
				  <if test="title!=null">title=#{title},</if>
				  <if test="remark!=null">remark=#{remark},</if>
				  <if test="power!=null">power=#{power},</if>
				  <if test="url!=null">url=#{url},</if>
				  <if test="pid!=null">pid=#{pid},</if>
				  <if test="isdel!=null">isdel=#{isdel},</if>
			 </trim>
			 where id=#{id}
		</update>
		<!-- 查询导航ID编号 -->
		<select id="findid" parameterType="Navigation" resultType="int">
			select id from navigation where name=#{name} and title=#{title} and isdel=1
		</select>
		<!-- 查询导航 (模糊查询) -->
		<select id="findNavigation" parameterType="Navigation" resultType="Navigation">
			select *from navigation  
			<trim prefix="where" prefixOverrides="AND /OR">
				<if test="name!=null">name like #{name}</if>
				<if test="title!=null">AND title like #{title},</if>
				<if test="remark!=null">AND remark like #{remark},</if>
				<if test="power!=null">AND power like #{power},</if>
			    <if test="url!=null">AND url like #{url},</if>
				<if test="pid!=null">AND pid like #{pid},</if>
				<if test="isdel!=null">AND isdel like #{isdel},</if>
				
			</trim>	
		 	And isdel=1						
		</select>
		<!-- 查询所有导航 -->
		<select id="findNavigationAll" resultType="Navigation">
			select *from navigation where isdel=1 order by power 	
		</select>
		 <!-- 统计导航数 -->
	   <select id="getNavigations" resultType="int">
	     select count(id) from navigation where isdel=1
	   </select>

</mapper>