<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqkc.dao.IProjectDao">
	<!-- 添加项目案例 -->
	<insert id="addProject" parameterType="Project">
		insert into project (name,title,type,remark,url,path,power,isdel) values (#{name},#{title},#{type},#{remark},#{url},#{path},#{power},#{isdel})
	</insert>
	<!-- 删除项目案例 -->
	<update id="deleteProject" parameterType="int">
		update project set isdel=0 where id=#{id}
	</update>
	<!-- 批量删除 -->
	<update id="deleteProjectMass" parameterType="int">
		update project set isdel=0 where id in <foreach item="id"  open="(" separator="," close=")" collection="array">#{id}</foreach>
	</update>
	<!-- 修改项目案例 -->
	<update id="updateProject" parameterType="Project">
		update project set name=#{name},title=#{title},type=#{type},remark=#{remark},url=#{url},path=#{path},power=#{power},isdel=#{isdel} where id=#{id}
	</update>
	<!-- 根据ID查询项目案例 -->
	<select id="findProjectById" parameterType="int" resultType="Project">
		select * from project where id=#{id} order by power
	</select>
	<!-- 查找所有项目案例 -->
	<select id="findProjectAll"  resultType="Project">
		select * from project where isdel=1 
	</select>
	<!-- 获取项目案例数量 -->
	<select id="getProjectNum" resultType="int">
		   select count(id) from project where isdel = 1
	</select>
	
</mapper>
