.del-warning{
	background-color: red;
}
.input-append{margin-top: 15px;}
.containter-div{width: 780px;}
.input-top{margin-top: 40xp;}
.btn-margin{
	margin-left:50px;
}

.img-show{
	width: 31%;	
}
.th-width{
	width: 115px;
}

.clearboth{
	clear: both;
}
